fontvideo
*.a
*.o
*.bat
*.exe
*.sdf
*.suo
*.opensdf
*.filters
*.user
*.aps
*.pdb
*.idb
.vs
msvc/.vs/
*/intermediate/
*/out
lib/msvc/*/rttimer.*
lib/msvc/*/dictionary.*
lib/msvc/*/libsoundio.*
lib/msvc/*/stdatomic_msvc.*
